
.highlight {
    background-color: rgb(228, 224, 0);
    color: rgb(4, 125, 196);
    font-weight: bold;
    padding: 0 15px;
    border-radius: 3px;
    font-size: 16px;
}
.safe {
    color:rgb(49, 218, 49);
    font-weight: bold;
    font-size: 14px;
}
.danger {
    color: rgb(180, 7, 7);
    font-weight: bold;
    font-size: 14px;
}
.might {
    color: orange;
    font-weight: bold;
    font-size: 14;
}
#Map {
    pointer-events: auto; /* Ban đầu cho phép thao tác */
  }
  .disabled {
    pointer-events: none; /* Vô hiệu hóa thao tác người dùng */
  }